
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-size: 16px;
    font-family: Roboto, Arial, Sans-serif;
}


div.top-bar { background-color: #3E82F7; }

div.top-bar div.home { font-size: 24px; padding: 3px 0; }
div.top-bar div.home .glyphicon { color: #fff; }
div.top-bar div.home a { padding: 3px 0; }
div.top-bar a { color: #fff; }

div.top-bar ul { list-style: none; font-size: 18px; margin: 0; }
div.top-bar ul li { display: inline; }
div.top-bar ul li a { padding: 8px 20px; display: inline-block; }

div.container.body { padding-top: 40px; padding-bottom: 40px; }

div.product-list div.product { background: #f1f1f1; border: 1px solid #999; border-radius: 8px; padding: 10px; margin-bottom: 20px; }
div.product-list div.product h3 { margin: 0 0 10px 0; }
div.product-list div.product img { border: 1px solid #999; width: 100%; margin-bottom: 20px; }

div.product-page div.product { max-width: 700px;  }
div.product-page div.product h1 { margin: 0 0 10px 0; }
div.product-page div.product img { border: 1px solid #999; max-width: 300px; margin-bottom: 20px; }
div.product-page div.product div.buy-now { padding-left: 20px; }
div.product-page div.product div.price { margin-bottom: 20px; font-size: 24px; }


form.login { max-width: 420px; margin: 0 auto; }